<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Formulario Spring</title>
</head>
<body>
    <h3 th:text="titulo"> Registro usuarios</h3>
    <form th:action="@{/index}" method="post">
    <div>
        <label for="nombreUsuario" >Nombre:</label>
        <div>
        <input type="text" name="nombreUsuario" id="nombreUsuario">
        </div>
    </div>
        <div>
            <label for="contrasenia" >Contrasenia:</label>
            <div>
                <input type="password" name="contrasenia" id="contrasenia">
            </div>
        </div>
        <div>
            <label for="email" >Email:</label>
            <div>
                <input type="email" name="email" id="email">
            </div>
        </div>
        <div>
            <input type="submit" value="Enviar">
        </div>

    </form>
</body>
</html>